* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #050816; 
  color: #ffffff;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}

@media (max-width: 768px) {
  :root {
    --padding-x: 5%;
  }
  
  .section-container {
    padding: 60px var(--padding-x);
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}